{% load static%}
<!DOCTYPE html>
<html lang="en">

  {% include 'header.html' %}

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <!-- <small>Subheading</small> -->
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{%static 'images/logoo.png' %}"  width="500" height="400" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Homiefy</h2>
        <p>Homiefy is an all in one portal application that provides its users with a variety of at-home services to facilitate day to day living. These services include appliance repair, pest control, plumbing, electrical repair, and home cleaning to name a few. Users can browse, schedule, and manage appointments easily with a click of a button. </p>
        <p>Homiefy provides valuable information about services including type of service, location, available hours, etc. parsed from online websites and Yelp API. Information regarding service ratings  are also included and will be provided by users of our application.</p>
        <p>Functionalities include browsing available services, updating statuses of services, allowing business partners to list additional services, deleting no longer existing services, as well as the utilization of a recommendation system.</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x375" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Anushi Aggarwal</h4>
            <p class="card-text">Team Captain, Frontend Developer</p>
          </div>
          <!-- <div class="card-footer"> -->
            <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x375" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Risha Aich</h4>
            <p class="card-text">Frontend Developer</p>
          </div>
          <!-- <div class="card-footer"> -->
            <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x375" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Darren Wang</h4>
            <p class="card-text">Backend Developer</p>
          </div>
          <!-- <div class="card-footer"> -->
            <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
          <!-- </div> -->
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x375" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Xi Zeng</h4>
            <p class="card-text">Backend Developer</p>
          </div>
          <!-- <div class="card-footer"> -->
            <!-- <a href="#" class="btn btn-primary">Find Out More!</a> -->
          <!-- </div> -->
        </div>
      </div>

    </div>

    <!-- /.row -->

    <!-- Our Customers -->
    <!-- <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </div>
    </div> -->
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div> -->
    <!-- /.container -->
  <!-- </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>