{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Modern Business - Start Bootstrap Template</title>

 <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css'%}" rel="stylesheet">

</head>

<body>

   <!-- Navigation -->
   <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="contact.html">Schedule</a>
            </li> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Customer
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" href="full-width.html">Sign In</a>
                  <a class="dropdown-item" href="sidebar.html">Sign Up</a>
                  <a class="dropdown-item" href="portfolio-3-col.html">Profile</a>
                  <!-- <a class="dropdown-item" href="portfolio-4-col.html">4 Column Portfolio</a>
                  <a class="dropdown-item" href="portfolio-item.html">Single Portfolio Item</a> -->
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Business
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                  <a class="dropdown-item" href="full-width.html">Sign In</a>
                  <a class="dropdown-item" href="pricing.html">Sign Up</a>
                  <a class="dropdown-item" href="portfolio-1-col.html">View Services</a>
                  <a class="dropdown-item" href="faq.html">Create Service</a>
                  <a class="dropdown-item" href="404.html">Update Service</a>
                  <a class="dropdown-item" href="portfolio-2-col.html">Delete Service</a>
                </div>
              <!-- </li>
              <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Other Pages
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPages">
                  <a class="dropdown-item" href="full-width.html">Full Width Page</a>
                  <a class="dropdown-item active" href="sidebar.html">Sidebar Page</a>
                  <a class="dropdown-item" href="faq.html">FAQ</a>
                  <a class="dropdown-item" href="404.html">404</a>
                  <a class="dropdown-item" href="pricing.html">Pricing Table</a>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>

  <!-- Page Content -->
  <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Sign In 
        <!-- <small>Business</small> -->
      </h1>
  
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="">Home</a>
        </li>
        <li class="breadcrumb-item active">Schedule</li>
      </ol>

    <body>
      <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Sign In</h5>
                <form class="form-signin">
                  <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                  </div>
    
                  <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                  </div>
                <div class="control-group form-group">
                <!-- <span class="form-label">Room Type</span> -->
                <!-- <label>User Type:</label> -->
                <select class="form-control" required>
                  <option value="" selected hidden>Select user type</option>
                  <option>Customer</option>
                  <option>Business</option>
                </select>
                <span class="select-arrow"></span>
                </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                  </div>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                  <hr class="my-4">
                  <div class="w-full text-center p-t-55">
                      <span class="txt2">
                        Not a member?
                      </span>
          
                      <!-- <a href="#" class="txt2 bo1">
                        Sign up! -->
                        <p><a href="sidebar.html">Sign Up!</a></p>
                      </a>
                    </div>
                  <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Don't have an account?</button>
                  <button class="btn btn-lg btn-facebook btn-block text-uppercase"><i class="fab fa-facebook-f mr-2"></i> Sign Up!</button> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>

  <!-- Footer -->
  <!-- <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div> -->
    <!-- /.container -->
  <!-- </footer> -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>

</html>
